<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .topnav {
            overflow: hidden;
            background-color: #333;
        }

        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {

            color: white;
        }
    </style>
</head>
<body style="background-color: lightgoldenrodyellow">
<div class="topnav">
    <a class="active" href="/index">Home</a>
    <a href="/login">Login</a>
    <a href="/login">Signup</a>
    <a href="/contactform">Contact Us</a>
    <a href="/about">About Us</a>
    <a href="/feedbackform">Feedback </a>
    <a href="/shoppingcart">My Cart</a>
    <a style="float: right" href="javascript:history.go(-1)">Back</a>

</div>
<h1 align="center"><b>GOVERNMENT SCHEMES<br>(सरकारी योजनाएं)</b></h1>

<b>(i) निजी क्षेत्र में बीज उत्पादन को बढ़ाने के लिए सहायता:</b>
<br>
इस घटक के तहत, परियोजना से जुड़ी अधिकतम लागत रुपये की 25% की दर से क्रेडिट लिंक्ड बैक-एंड कैपिटल सब्सिडी प्रदान की जाती है। बीज अवसंरचना विकास पर 25.00 लाख प्रति यूनिट। निजी कंपनियां, व्यक्तिगत उद्यमी, स्वयं सहायता समूह, बीज सहकारी, साझेदारी फार्म सब्सिडी के लिए पात्र हैं। घटक राष्ट्रीयकृत बैंकों / अनुसूचित वाणिज्यिक बैंकों और राष्ट्रीय सहकारी विकास निगम (एनसीडीसी) के माध्यम से कार्यान्वित किया जाता है। सहायता बीज सफाई, ग्रेडिंग, प्रसंस्करण, बीज उपचार, पैकेजिंग और भंडारण इकाइयों के साथ-साथ परीक्षण परीक्षण सुविधाओं से संबंधित बुनियादी सुविधाओं के निर्माण के लिए है। यह सहायता मुख्य रूप से कम मूल्य और उच्च मात्रा के बीज के लिए है। राष्ट्रीय बीज निगम इस घटक के कार्यान्वयन और निगरानी के लिए नोडल एजेंसी है।
<br>
<br>
<b>(ii) बीज ग्राम योजना:</b>
<br>
किसान-उत्पादित बीज की गुणवत्ता को उन्नत करने के लिए, जो फसल उत्पादन कार्यक्रम के लिए उपयोग किए जाने वाले कुल बीज का लगभग 80-85% है, उत्पादन के लिए फसलों के बीज की 50% लागत पर नींव / प्रमाणित बीज के वितरण के लिए वित्तीय सहायता प्रदान की जाती है। प्रमाणित / गुणवत्ता वाले बीज और केवल किसानों को बीज उत्पादन और प्रौद्योगिकी पर प्रशिक्षण के लिए।



इन बीज गांवों में उत्पादित बीज अगले बुवाई के मौसम तक संरक्षित / संग्रहीत किया जाता है। किसानों को उचित गुणवत्ता की भंडारण क्षमता विकसित करने के लिए प्रोत्साहित करने के लिए, उनके खेतों पर तख्ते द्वारा उत्पादित बीज के भंडारण के लिए कागज के गूदे से बने पूसा बिन / मिट्टी बिन / बिन की खरीद / खरीद के लिए किसानों को सहायता दी जाती है।
<br>
<br>
<b>iii) बीजों के संचलन पर परिवहन सब्सिडी: -</b>
यह घटक सिक्किम, जम्मू और कश्मीर, हिमाचल प्रदेश, उत्तरांचल और पश्चिम बंगाल के पहाड़ी क्षेत्रों सहित पूर्वोत्तर राज्यों को कवर करता है। घटक के लिए प्रदान करता है (ए) 100% रेल और सड़क परिवहन लागत के बीच अंतर की प्रतिपूर्ति राज्य के बाहर उत्पादित बीजों की आवाजाही के लिए अनुमत है और (ख) रुपये की अधिकतम सीमा तक सीमित है। राज्य की राजधानी / जिला मुख्यालय से बिक्री के आउटलेट / बिक्री काउंटर तक राज्य के भीतर बीज की आवाजाही के लिए 60 प्रति क्विंटल जो भी कम हो।
<br>

<br>
<br>
<b>iv) बीज बैंक की स्थापना और रखरखाव: -</b>
<br>
यह सुनिश्चित करने के लिए कि बाढ़, सूखा, आदि जैसी प्राकृतिक आपदाओं के समय किसानों को बीज उपलब्ध हो, विभिन्न फसलों / किस्मों के नींव और प्रमाणित बीजों के भंडार को बनाए रखने के लिए एक बीज बैंक की स्थापना करने की आवश्यकता महसूस की गई। ऐसी आकस्मिक आवश्यकताओं के लिए उपयोग किया जाता है। इस घटक के तहत, प्रत्येक वर्ष बीज बैंक में रखरखाव के लिए प्रत्येक सहभागी संगठन के लिए बीजों के फसलवार लक्ष्य निर्धारित किए जाते हैं।
<br>
<br>
<b>v) बीजों पर गुणवत्ता नियंत्रण व्यवस्था: -</b>

<br>

यह घटक बीज अधिनियम, 1966 के तहत बीज की गुणवत्ता को विनियमित करने के लिए राज्य बीज प्रमाणन एजेंसियों, राज्य बीज परीक्षण प्रयोगशालाओं, केंद्रीय बीज परीक्षण प्रयोगशाला और केंद्रीय बीज समिति के अलावा गुणवत्ता नियंत्रण संगठन को मजबूत करने के लिए लगे हुए अधिकारियों को प्रशिक्षण प्रदान करने से संबंधित है। बीज क्षेत्र और किसानों के हित की रक्षा के लिए गुणवत्तापूर्ण बीजों के उत्पादन और वितरण को सुनिश्चित करने के लिए बीज कानून को लागू करने के लिए। यह घटक वाराणसी (यूपी) में राष्ट्रीय बीज अनुसंधान और प्रशिक्षण केंद्र के सुदृढ़ीकरण से भी संबंधित है। यह केंद्र केंद्रीय बीज परीक्षण प्रयोगशाला के रूप में मान्यता प्राप्त है और रेफरल बीज परीक्षण प्रयोगशाला के साथ-साथ बीज प्रौद्योगिकी के सभी पहलुओं पर एक प्रमुख प्रशिक्षण केंद्र के रूप में कार्य करता है। हितधारकों।



इस घटक का उद्देश्य निम्नलिखित कार्यों को करने के लिए केंद्रीय बीज परीक्षण प्रयोगशाला (CSTL) को वित्तीय सहायता प्रदान करना है: (i) अधिसूचित राज्य बीज प्रयोगशालाओं के सहयोग से परीक्षण कार्यक्रम शुरू करना, सभी मान्यता प्राप्त बीज प्रयोगशालाओं के बीच परीक्षण परिणामों में एकरूपता प्रदान करना भारत; (ii) बाजार में बिकने वाले बीज की स्थिति पर लगातार डेटा एकत्र करना और इस डेटा को केंद्रीय बीज समिति को उपलब्ध कराना; (iii) देश में बीज परीक्षण प्रक्रिया का समन्वय और मानकीकरण करना।


<br>
<br>
<b>vi) गुणवत्तापूर्ण बीजों के उत्पादन और वितरण के लिए बुनियादी सुविधाओं के निर्माण / सुदृढ़ीकरण के लिए सहायता:
</b>

<br>

राज्य बीज निगमों के लिए गुणवत्तापूर्ण बीजों के उत्पादन और वितरण के लिए अवस्थापना सुविधाओं को स्थापित / मजबूत करने के लिए, बीज की सफाई, ग्रेडिंग, प्रसंस्करण, पैकिंग और बीज भंडारण की सुविधाएं उपलब्ध कराने के लिए सहायता प्रदान की जाती है। उपर्युक्त अवसंरचना सुविधाओं के संबंध में मौजूदा बीज निगमों को मजबूत करने के लिए सहायता को भी मामले के आधार पर माना जाता है। सहायता केवल उपर्युक्त अवस्थापना सुविधाओं के निर्माण के विशिष्ट उद्देश्य के लिए अनुदान के रूप में उपलब्ध है।

<br>
<br>
<b>vii) मानव संसाधन विकास: -</b>

<br>

देश में बोए गए लगभग 85% बीज कृषि-बचाए गए बीज हैं जहाँ गुणवत्ता सुनिश्चित नहीं है। इस घटक को खेत-बचाए गए बीजों की गुणवत्ता को उन्नत करने के लिए पेश किया गया है। बीज उत्पादन का ज्ञान और प्रौद्योगिकी हस्तांतरण का प्रसार प्रदर्शनियों, स्लाइड शो, वीडियो फिल्म शो, क्षेत्र प्रदर्शनों, किसानों से मिलना, बीज दिवस आदि के आयोजन के माध्यम से किया जा रहा है, किसानों को तकनीकी ज्ञान का प्रावधान भी उन्हें बीज लेने के लिए प्रोत्साहित करता है। बड़े पैमाने पर उत्पादन।





बीज उत्पादन और बीज प्रौद्योगिकी के प्रभावी हस्तांतरण के लिए, महिलाओं सहित किसानों के लिए प्रशिक्षण कार्यक्रम बीज गांव कार्यक्रम के साथ मिलकर किसान बचाए गए बीजों की गुणवत्ता को उन्नत करने के लिए मैदान पर आयोजित किए जाते हैं।



किसानों को बुनियादी बीज उत्पादन तकनीक में प्रशिक्षण देने के अलावा, विस्तार मशीनरी और बीज उत्पादन, बीज भंडारण और बीज परीक्षण और बीज प्रमाणीकरण में शामिल लोगों को नियमित रूप से प्रशिक्षित करने के लिए प्रशिक्षित किया जाता है ताकि उन्हें नवीनतम तकनीक और प्रथाओं के साथ रखा जा सके। राज्य बीज निगम / राज्य बीज प्रमाणन एजेंसियों को वित्तीय सहायता उन अधिकारियों को प्रशिक्षण प्रदान करने के लिए दी जाती है, जो गुणवत्तापूर्ण बीज उत्पादन और वितरण के उद्देश्य को प्राप्त करने के लिए नियमित आधार पर बीज विकास कार्यक्रम, बीज गुणवत्ता नियंत्रण और बीज कानून प्रवर्तन में लगे हुए हैं। इस घटक को वर्ष 2006-07 के आधे हिस्से से 'बीज गांव कार्यक्रम' के घटक में मिला दिया गया है।







<p align="center"><a href="https://seednet.gov.in/Material/Prog-Schemes.htm#ii)%20Seed%20Village%20Scheme%20:">अधिक जानकारी के लिए यहां क्लिक करें!</a></p>
<br>
<br>
</body>
</html>