<!DOCTYPE html>
<html>
<head>
  <title>Agriculture</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="css/layout.css" rel="stylesheet" type="text/css" media="all">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
    .mySlides {display:none;}
     .slower {
       -webkit-animation-duration: 2.5s !important;
       animation-duration: 1.5s!important;
     }

  </style>
</head>
<body id="top" >
<div class="wrapper row0">
  <marquee bgcolor="#FFFFFF"><b>प्रमाणित बीज खरीदने के लिए पोर्टल में आपका स्वागत है। किसानों को सरकारी योजनाएं प्रदान की जाती हैं। अधिक जानकारी के लिए, वेबसाइट पर जाएं। ><a href="https://seednet.gov.in/Material/Prog-Schemes.htm#ii)%20Seed%20Village%20Scheme%20:"
                                                                                                                                                                              onmouseover="this.parentNode.stop()"
                                                                                                                                                                              onmouseout="this.parentNode.start()">Click here!</a></b></marquee>

  <div id="topbar" class="clear">
    <div class="fl_left">
      <ul class="nospace">
        <li style="margin-left: 20px;"><i class="fas fa-phone rgtspace-5"></i><b> Kishan Call Center</b> 800-206-321</li>
        <li><i class="far fa-envelope rgtspace-5"></i> agriculture@gmail.com</li>
      </ul>
    </div>
    <div class="fl_right">
      <ul class="nospace">
        <li><a href="#"><i class="fas fa-home"></i></a></li>
        <li><a href="/contactform" title="Help Centre"><i class="far fa-life-ring"></i></a></li>
        <li><a href="/login" title="Login"><i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="/signup" title="Sign Up"><i class="fas fa-edit"></i></a></li>
        <li id="searchform">
          <div>
            <form action="#" method="post">
              <fieldset>
                <legend >Quick Search:</legend>
                <input type="text" placeholder="Enter search term&hellip;" style="float: right">
                <button type="submit"><i class="fas fa-search" ></i></button>
              </fieldset>
            </form>
          </div>
        </li>
        <div id="google_translate_element" style="float: right"></div>

        <script type="text/javascript">
          function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
          }
        </script>

        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      </ul>
    </div>
  </div>
</div>
<div class="wrapper row1" >
  <header id="header" class="clear" style="margin-right: 200px;">
    <div id="logo" class="fl_left">
      <h1 style="margin-left: 60px; font-family: Georgia; font-size: 300%"><a href="/">AGRICULTURE PORTAL</a></h1>
    </div>
    <nav id="mainav" class="fl_right" >
      <ul class="clear" >
        <li class="active" style="font-size: medium"><a href="index.html">Home</a></li>
        <li style="font-size: medium"><a class="drop" href="#">Help</a>
          <ul>
            <li style="font-size: medium"><a href="/feedbackform">Feedback Form</a></li>
            <li style="font-size: medium"><a href="/contactform">Contact us</a></li>
            <li style="font-size: medium"><a href="/about">About us</a></li>
          </ul>
        </li>
        <li style="font-size: medium"><a href="/shoppingcart">My cart</a></li>
        <li style="font-size: medium"><a href="/login">My Profile</a></li>
        <li style="font-size: medium"><a href="/governmentschemes">Government Schemes</a></li>
        <li style="font-size: medium"><a href="/login">Login</a></li>
        <li style="font-size: medium"><a href="/signup">Sign Up</a></li>
      </ul>
    </nav>
  </header>
</div>

<div id="demo" class="w3-animate-left" data-ride="w3-animate-left">


  <div class="carousel-item active">
    <img src="images/w.png" style="height: 800px; width: 2500px" alt="Slide One" class="w3-animate-right">
  </div>

  <div class="carousel-item">
    <img src="images/blckchain.png" style="height: 800px; width: 2500px" alt="Slide One" class="w3-animate-right " width="1100" height="500">
  </div>

  <div class="carousel-item">
    <img src="images/transparent.png" style="height: 800px; width: 2500px" alt="Slide One"  class="w3-animate-right" width="1100" height="500">
  </div>
</div>

<!-- Left and right controls -->
<a class="carousel-control-prev" href="#demo" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
</a>
<a class="carousel-control-next" href="#demo" data-slide="next">
  <span class="carousel-control-next-icon"></span>
</a>
</div>
<script>
  var myIndex = 0;
  carousel();

  function carousel() {
    var i;
    var x = document.getElementsByClassName("carousel-item");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 2500);
  }
</script>

<div  class="wrapper row2"  >
  <section id="introblocks" class="hoc container clear">
    <ul class="nospace group">
      <li class="one_third first" >
        <article><a href="/shoppingcart"><i class="fas fa-shopping-cart"></i></a>
          <h6 class="heading underline">West Bengal</h6>
          <p>Click on the cart to buy Certified seed.</p>
        </article>
      </li>
      <li class="one_third">
        <article class="active"><a href="/shoppingcart"><i class="fas fa-shopping-cart"></i></a>
          <h6 class="heading underline">Assam</h6>
          <p>Click on the cart to buy Certified seed.</p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="/shoppingcart"><i class="fas fa-shopping-cart"></i></a>
          <h6 class="heading underline">Orissa</h6>
          <p>Click on the cart to buy Certified seed.</p>
        </article>
      </li>
    </ul>
  </section>
</div>
<div style="height: 50px; background-color: rgba(255,255,255,0.95)"></div>
<div class="wrapper row2">
  <section id="introblocks" class="hoc container clear">
    <ul class="nospace group">
      <li class="one_third first">
        <article><a href="/shoppingcart"><i class="fas fa-shopping-cart"></i></a>
          <h6 class="heading underline">Tripura</h6>
          <p>Click on the cart to buy Certified seed</p>
        </article>
        </article>
      </li>
      <li class="one_third">
        <article class="active"><a href="/shoppingcart"><i class="fas fa-shopping-cart"></i></a>
          <h6 class="heading underline">Uttar Pradesh</h6>
          <p>Click on the cart to buy Certified seed.</p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="/shoppingcart"><i class="fas fa-shopping-cart"></i></a>
          <h6 class="heading underline">Bihar</h6>
          <p>Click on the cart to buy Certified seed.</p>
        </article>
      </li>
    </ul>
  </section>
</div>


<div class="wrapper row3">
  <main class="hoc container clear">
    <div class="center btmspace-80">
      <h6 class="heading underline font-x2">We are happy to help you</h6>
    </div>
    <ul class="nospace group overview btmspace-80">
      <li class="one_third">
        <article>
          <div class="clear"><a href="#"><i class="fas fa-motorcycle"></i></a>
            <h6 class="heading">Fast delivery</h6>
          </div>
          <p>We provide the fastest and safe delivery overall the country.</p>
        </article>
      </li>
      <li class="one_third">
        <article>
          <div class="clear"><a href="#"><i class="fas fa-newspaper"></i></a>
            <h6 class="heading">Secure payment</h6>
          </div>
          <p>Your payments are secure and Third parties are not involved.</p>
        </article>
      </li>
      <li class="one_third">
        <article>
          <div class="clear"><a href="#"><i class="fas fa-paper-plane"></i></a>
            <h6 class="heading">queries<br>(प्रश्नों)</h6>
          </div>
          <p>We are 24/7 available to take your queries.</p>
        </article>
      </li>
      <li class="one_third">
        <article>
          <div class="clear"><a href="#"><i class="fas fa-eye"></i></a>
            <h6 class="heading">Track<br>(नज़र रखे)</h6>
          </div>
          <p>Track and Trace your package.</p>
        </article>
      </li>
      <li class="one_third">
        <article>
          <div class="clear"><a href="/about"><i class="fas fa-leaf"></i></a>
            <h6 class="heading">About All kinds of Certified Seeds</h6>
          </div>
          <p>Certified seeds are 99% pure.Click on above icon to read more. </p>
        </article>
      </li>
      <li class="one_third">
        <article>
          <div class="clear"><a href="#"><i class="fas fa-power-off"></i></a>
            <h6 class="heading">Log Out</h6>
          </div>
          <p>We are happy to have you here.Please visit again and click on the above icon to Log Out.</p>
        </article>
      </li>
    </ul>
    <footer class="center"><a class="btn" href="/shoppingcart">Buy Now</a></footer>

    <div class="clear"></div>
  </main>
</div>
<div class="wrapper bgded overlay" style="background-image:url('images/cmntbckgrnd.jpg');">
  <section class="hoc container clear">
    <div class="center btmspace-80">
      <h6 class="heading underline font-x2">Comments</h6>
    </div>
    <ul id="testimonials" class="nospace group btmspace-80">
      <li class="one_half first">
        <blockquote>You have come to the right place.This website provides orignal certified seeds.</blockquote>
        <figure class="clear"><img class="circle" src="images/Buddha.png" alt="user">
          <figcaption>
            <h6 class="heading">Dr.Batra</h6>
            <em>Regular customer</em></figcaption>
        </figure>
      </li>
      <li class="one_half">
        <blockquote>I always prefer to buy certified seeds from here.Here the stock never goes down.</blockquote>
        <figure class="clear"><img class="circle" src="images/jawan.png" alt="">
          <figcaption>
            <h6 class="heading">Dr.Mittal</h6>
            <em>Director/Agricultre Department</em></figcaption>
        </figure>
      </li>
    </ul>
    <footer class="center"><a class="btn" href="#">Add Comment</a></footer>
  </section>
</div>
<div class="wrapper row4">
  <footer id="footer" class="hoc clear">
    <div class="one_quarter first">
      <h6 class="heading">Contact Information</h6>
      <ul class="nospace linklist contact btmspace-30">
        <li><i class="fas fa-map-marker-alt"></i>
          <address>
            street no. 4 &amp; sonipat, Pincode(131001)
          </address>
        </li>
        <li><i class="fas fa-phone"></i> 1800-206-321</li>
        <li><i class="far fa-envelope"></i> micky@gmail.com</li>
      </ul>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">About Owners</h6>
      <ul class="nospace linklist">
        <li>
          <article>
            <p class="nospace btmspace-10"><a href="#">State Seed Cooperation(SSC)</a></p>
            <time class="block font-xs" datetime="2020-04-06">Friday, 6<sup>th</sup> April 2020</time>
          </article>
        </li>
        <li>
          <article>
            <p class="nospace btmspace-10"><a href="#">National Seed Cooperation(NSC)</a></p>
            <time class="block font-xs" datetime="2020-04-05">Thursday, 5<sup>th</sup> April 2020</time>
          </article>
        </li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">For Help</h6>
      <ul class="nospace linklist">
        <li><a href="/about">About Website </a></li>
        <li><a href="/feedbackform">Feedback</a></li>
        <li><a href="/contactform">Contact us</a></li>
        <li><a href="#">My Profile</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
    </div>
  </footer>
</div>
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <p class="fl_left"><a href="#">www.certifiedseed.com</a></p>
    <p class="fl_right">Techworms<a target="_blank" href="#" title="welcome to our website to buy certified seed"></a></p>
  </div>
</div>
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>